In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# ! jupyter nbextension enable --py --sys-prefix widgetsnbextension

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ngunguru,NZ,21-11-24 15:49:27,-35.6167,174.5000,61.16,77,89,1.63
1,1,Fort Nelson,CA,21-11-24 15:49:27,58.8053,-122.7002,-8.01,77,75,3.44
2,2,Barrow,US,21-11-24 15:49:28,71.2906,-156.7887,-7.58,84,75,5.75
3,3,Ha Giang,VN,21-11-24 15:49:28,22.8333,104.9833,56.05,94,61,2.04
4,4,Mataura,NZ,21-11-24 15:49:28,-46.1927,168.8643,43.59,98,90,2.66

In [4]:
# Ge the DataFrame data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the fgure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you wouid like for your trip? "))
max_temp = float(input("What is the maximum temperature you wouid like for your trip? "))

What is the minimum temperature you wouid like for your trip? 75
What is the maximum temperature you wouid like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cties_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                     (city_data_df["Max Temp"]>= min_temp)]
preferred_cties_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Saldanha,ZA,21-11-24 15:49:29,-33.0117,17.9442,78.85,72,1,27.00
11,11,Cape Town,ZA,21-11-24 15:49:30,-33.9258,18.4232,77.11,46,20,27.63
12,12,Georgetown,MY,21-11-24 15:47:58,5.4112,100.3354,84.13,91,40,1.01
18,18,Porto Novo,BJ,21-11-24 15:49:32,6.4965,2.6036,87.62,69,100,8.88
27,27,Saint-Philippe,RE,21-11-24 15:49:35,-21.3585,55.7679,78.39,78,79,8.84
30,30,Rikitea,PF,21-11-24 15:49:36,-23.1203,-134.9692,76.24,78,100,14.94
36,36,Bengkulu,ID,21-11-24 15:49:38,-3.8004,102.2655,76.46,78,96,3.42
37,37,Puerto Ayora,EC,21-11-24 15:49:38,-0.7393,-90.3518,76.96,73,88,11.12
38,38,Touros,BR,21-11-24 15:49:39,-5.1989,-35.4608,88.70,61,30,15.01
42,42,Hambantota,LK,21-11-24 15:49:40,6.1241,81.1185,77.34,100,40,5.75

In [19]:
preferred_cties_df.count()

City_ID       164
City          164
Country       163
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cties_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6         Saldanha      ZA     78.85 -33.0117   17.9442
11       Cape Town      ZA     77.11 -33.9258   18.4232
12      Georgetown      MY     84.13   5.4112  100.3354
18      Porto Novo      BJ     87.62   6.4965    2.6036
27  Saint-Philippe      RE     78.39 -21.3585   55.7679
30         Rikitea      PF     76.24 -23.1203 -134.9692
36        Bengkulu      ID     76.46  -3.8004  102.2655
37    Puerto Ayora      EC     76.96  -0.7393  -90.3518
38          Touros      BR     88.70  -5.1989  -35.4608
42      Hambantota      LK     77.34   6.1241   81.1185

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Saldanha,ZA,78.85,-33.0117,17.9442,Blue Bay Lodge
11,Cape Town,ZA,77.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town
12,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
18,Porto Novo,BJ,87.62,6.4965,2.6036,Tour Eiffel Hotel Benin
27,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
30,Rikitea,PF,76.24,-23.1203,-134.9692,People ThankYou
36,Bengkulu,ID,76.46,-3.8004,102.2655,Grage Hotel Bengkulu
37,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
38,Touros,BR,88.70,-5.1989,-35.4608,INN NEW HORIZON
42,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the fiure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the fiure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))