## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,72.81,96,90,5.75,moderate rain
1,1,Atuona,PF,-9.8000,-139.0333,78.57,79,7,17.98,clear sky
2,2,Tasiilaq,GL,65.6145,-37.6368,26.76,56,100,8.75,overcast clouds
3,3,Qaanaaq,GL,77.4840,-69.3632,1.54,77,100,5.99,overcast clouds
4,4,Aklavik,CA,68.2191,-135.0107,-12.17,97,100,14.38,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you wouid like for your trip? "))
max_temp = float(input("What is the maximum temperature you wouid like for your trip? "))

What is the minimum temperature you wouid like for your trip? 40
What is the maximum temperature you wouid like for your trip? 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cties_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                     (city_data_df["Max Temp"]>= min_temp)]
preferred_cties_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,20,14.97,few clouds
10,10,Hermanus,ZA,-34.4187,19.2345,62.80,78,4,27.47,clear sky
15,15,San Ramon,US,37.7799,-121.9780,59.38,75,1,5.75,haze
17,17,Nanortalik,GL,60.1432,-45.2371,40.08,98,100,12.84,moderate rain
18,18,Half Moon Bay,US,37.4636,-122.4286,61.61,65,1,0.00,clear sky
19,19,Chuy,UY,-33.6971,-53.4616,63.63,97,100,9.40,light rain
23,23,Mataura,NZ,-46.1927,168.8643,56.93,77,100,6.67,light rain
25,25,Ushuaia,AR,-54.8000,-68.3000,42.46,65,20,25.32,few clouds
32,32,Talara,PE,-4.5772,-81.2719,65.43,90,100,11.03,overcast clouds
34,34,Kruisfontein,ZA,-34.0033,24.7314,61.88,81,95,19.95,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cties_df.count()

City_ID                250
City                   250
Country                247
Lat                    250
Lng                    250
Max Temp               250
Humidity               250
Cloudiness             250
Wind Speed             250
Current Description    250
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities_df = preferred_cties_df.dropna()
clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,20,14.97,few clouds
10,10,Hermanus,ZA,-34.4187,19.2345,62.80,78,4,27.47,clear sky
15,15,San Ramon,US,37.7799,-121.9780,59.38,75,1,5.75,haze
17,17,Nanortalik,GL,60.1432,-45.2371,40.08,98,100,12.84,moderate rain
18,18,Half Moon Bay,US,37.4636,-122.4286,61.61,65,1,0.00,clear sky
19,19,Chuy,UY,-33.6971,-53.4616,63.63,97,100,9.40,light rain
23,23,Mataura,NZ,-46.1927,168.8643,56.93,77,100,6.67,light rain
25,25,Ushuaia,AR,-54.8000,-68.3000,42.46,65,20,25.32,few clouds
32,32,Talara,PE,-4.5772,-81.2719,65.43,90,100,11.03,overcast clouds
34,34,Kruisfontein,ZA,-34.0033,24.7314,61.88,81,95,19.95,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Punta Arenas,CL,44.71,few clouds,-53.1500,-70.9167,
10,Hermanus,ZA,62.80,clear sky,-34.4187,19.2345,
15,San Ramon,US,59.38,haze,37.7799,-121.9780,
17,Nanortalik,GL,40.08,moderate rain,60.1432,-45.2371,
18,Half Moon Bay,US,61.61,clear sky,37.4636,-122.4286,
19,Chuy,UY,63.63,light rain,-33.6971,-53.4616,
23,Mataura,NZ,56.93,light rain,-46.1927,168.8643,
25,Ushuaia,AR,42.46,few clouds,-54.8000,-68.3000,
32,Talara,PE,65.43,overcast clouds,-4.5772,-81.2719,
34,Kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Punta Arenas,CL,44.71,few clouds,-53.1500,-70.9167,
10,Hermanus,ZA,62.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
15,San Ramon,US,59.38,haze,37.7799,-121.9780,San Ramon Marriott
17,Nanortalik,GL,40.08,moderate rain,60.1432,-45.2371,Hotel Kap Farvel
18,Half Moon Bay,US,61.61,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
19,Chuy,UY,63.63,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
23,Mataura,NZ,56.93,light rain,-46.1927,168.8643,Ellie's Villa
25,Ushuaia,AR,42.46,few clouds,-54.8000,-68.3000,Albatros Hotel
32,Talara,PE,65.43,overcast clouds,-4.5772,-81.2719,Hostal Oro Negro
34,Kruisfontein,ZA,61.88,overcast clouds,-34.0033,24.7314,

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Hermanus,ZA,62.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
15,San Ramon,US,59.38,haze,37.7799,-121.9780,San Ramon Marriott
17,Nanortalik,GL,40.08,moderate rain,60.1432,-45.2371,Hotel Kap Farvel
18,Half Moon Bay,US,61.61,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
19,Chuy,UY,63.63,light rain,-33.6971,-53.4616,Nuevo Hotel Plaza
23,Mataura,NZ,56.93,light rain,-46.1927,168.8643,Ellie's Villa
25,Ushuaia,AR,42.46,few clouds,-54.8000,-68.3000,Albatros Hotel
32,Talara,PE,65.43,overcast clouds,-4.5772,-81.2719,Hostal Oro Negro
37,Qinhuangdao,CN,42.89,clear sky,39.9317,119.5883,Qinhuangdao Peninsula Seasons Hotel And Apartment
40,Port Alfred,ZA,63.54,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))